@model SWACTPROY.Models.T_TipoDocumento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>T_TipoDocumento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreDoc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombreDoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idDocumento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
