@model SGIAMT.Models.TPago

@{
    ViewData["Title"] = "PAGO";
}

<h2>REGISTRAR PAGO</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
        </form>
        <form asp-action="Create">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="FkIuDni" class="control-label">Dni de Alumno</label>
                <select asp-for="FkIuDni" class="form-control" asp-items="ViewBag.FkIuDni"></select>
            </div>
            <div class="form-group">
                <label>Nombre: </label>
                <label asp-for="FkIuDni"></label>
            </div>
            <div class="form-group">
                <label>Apellido Paterno: </label>
                <label asp-for="FkIuDni"></label>
            </div>
            <div class="form-group">
                <label>Apellido Materno: </label>
                <label asp-for="FkIuDni"></label>
            </div>
            <div class="form-group">
                <label asp-for="VpFecha" class="control-label">Fecha</label>
                <input type="date" asp-for="VpFecha" class="form-control" />
                <span asp-validation-for="VpFecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VpMes" class="control-label">Mes</label>
                <select asp-for="VpMes" class="form-control">
                    <option value="Enero">Enero</option>
                    <option value="Febrero">Febrero</option>
                    <option value="Marzo">Marzo</option>
                    <option value="Abril">Abril</option>
                    <option value="Mayo">Mayo</option>
                    <option value="Junio">Junio</option>
                    <option value="Julio">Julio</option>
                    <option value="Agosto">Agosto</option>
                    <option value="Septiembre">Septiembre</option>
                    <option value="Octubre">Octubre</option>
                    <option value="Noviembre">Noviembre</option>
                    <option value="Diciembre">Diciembre</option>
                </select>
                <span asp-validation-for="VpMes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VpAño" class="control-label">Año</label>
                <input asp-for="VpAño" class="form-control" value="2019" />
                <span asp-validation-for="VpAño" class="text-danger"></span>
            </div>
            @*
                <div class="form-group">
                    <label asp-for="VpPdf" class="control-label"></label>
                    <input asp-for="VpPdf" class="form-control" />
                    <span asp-validation-for="VpPdf" class="text-danger"></span>
                </div>
            *@
            <div class="form-group">
                <label asp-for="FkIcpId" class="control-label">Concepto</label>
                <select asp-for="FkIcpId" class="form-control" asp-items="ViewBag.FkIcpId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Lista de Registros de Pago</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
