@model SGIAMT.Models.TPago

@{
    ViewData["Title"] = "PAGO";
}

<h2 style="color:white" >REGISTRAR PAGO</h2>
<head>

    <link rel="stylesheet" href="~/css/RegistroStyle.css" />
</head>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label style="color:white" asp-for="FkIuDni" class="control-label">DNI DE ALUMNO</label>
                <select asp-for="FkIuDni" class="form-control" asp-items="ViewBag.FkIuDni" asp-action="Create"></select>
                <span asp-validation-for="FkIuDni" class="text-danger" style="color:white"></span>
            </div>
            <div class="form-group">
                <label style="color:white" asp-for="VpFecha" class="control-label">FECHA DE PAGO</label>
                <input type="date" asp-for="VpFecha" class="form-control" />
                <span asp-validation-for="VpFecha" class="text-danger" style="color:white"></span>
            </div>
            <div class="form-group">
                <label style="color:white" asp-for="FkIcpId" class="control-label">CONCEPTO DE PAGO</label>
                <select asp-for="FkIcpId" class="form-control" asp-items="ViewBag.FkIcpId" id="CUS_RegistroPago_Select_cp" onchange="seleccion()"></select>
            </div>
            <div class="form-group">
                <label style="color:white" id="lblValor">VALOR: </label>
            </div>
            <div class="form-group">
                <label style="color:white" asp-for="VpAño" class="control-label">AÑO</label>
                <input asp-for="VpAño" class="form-control" value="2019" />
                <span asp-validation-for="VpAño" class="text-danger" style="color:white"></span>
            </div>
            <div class="form-group">
                <label style="color:white" asp-for="VpMes" class="control-label">MES</label>
                <select id="CUS_RegistroPago_Select_mes" asp-for="VpMes" class="form-control">
                    <option value="Enero">ENERO</option>
                    <option value="Febrero">FEBRERO</option>
                    <option value="Marzo">MARZO</option>
                    <option value="Abril">ABRIL</option>
                    <option value="Mayo">MAYO</option>
                    <option value="Junio">JUNIO</option>
                    <option value="Julio">JULIO</option>
                    <option value="Agosto">AGOSTO</option>
                    <option value="Septiembre">SEPTIEMBRE</option>
                    <option value="Octubre">OCTUBRE</option>
                    <option value="Noviembre">NOVIEMBRE</option>
                    <option value="Diciembre">DICIEMBRE</option>
                </select>
                <span asp-validation-for="VpMes" class="text-danger" style="color:white"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="REGISTRAR" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" style="color:white">Lista de Registros de Pago</a>
</div>

<script>
    if (document.getElementById("CUS_RegistroPago_Select_cp").value == 1) {
        document.getElementById("CUS_RegistroPago_Select_mes").disabled = true;
        document.getElementById("lblValor").innerHTML = 'Valor: 30.00';
    }
    else {
        if (document.getElementById("CUS_RegistroPago_Select_cp").value == 2) {
            document.getElementById("CUS_RegistroPago_Select_mes").disabled = false;
            document.getElementById("lblValor").innerHTML = 'Valor: 80.00';
        }
        else {
            document.getElementById("CUS_RegistroPago_Select_mes").disabled = false;
            document.getElementById("lblValor").innerHTML = 'Valor: 110.00';
        }
    }
    function seleccion() {
        if (document.getElementById("CUS_RegistroPago_Select_cp").value == 1) {
            document.getElementById("CUS_RegistroPago_Select_mes").disabled = true;
            document.getElementById("lblValor").innerHTML = 'Valor: 30.00';
        }
        else {
            if (document.getElementById("CUS_RegistroPago_Select_cp").value == 2) {
                document.getElementById("CUS_RegistroPago_Select_mes").disabled = false;
                document.getElementById("lblValor").innerHTML = 'Valor: 80.00';
            }
            else {
                document.getElementById("CUS_RegistroPago_Select_mes").disabled = false;
                document.getElementById("lblValor").innerHTML = 'Valor: 110.00';
            }
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
