@model SGIAMT.Models.TPago

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>TPago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PkIpId" />
            <div class="form-group">
                <label asp-for="VpValor" class="control-label"></label>
                <input asp-for="VpValor" class="form-control" />
                <span asp-validation-for="VpValor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VpFecha" class="control-label"></label>
                <input asp-for="VpFecha" class="form-control" />
                <span asp-validation-for="VpFecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VpMes" class="control-label"></label>
                <input asp-for="VpMes" class="form-control" />
                <span asp-validation-for="VpMes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VpAño" class="control-label"></label>
                <input asp-for="VpAño" class="form-control" />
                <span asp-validation-for="VpAño" class="text-danger"></span>
            </div>
            @*
            <div class="form-group">
                <label asp-for="VpPdf" class="control-label"></label>
                <input asp-for="VpPdf" class="form-control" />
                <span asp-validation-for="VpPdf" class="text-danger"></span>
            </div>
            *@
            <div class="form-group">
                <label asp-for="FkIuDni" class="control-label"></label>
                <select asp-for="FkIuDni" class="form-control" asp-items="ViewBag.FkIuDni"></select>
                <span asp-validation-for="FkIuDni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkIcpId" class="control-label"></label>
                <select asp-for="FkIcpId" class="form-control" asp-items="ViewBag.FkIcpId"></select>
                <span asp-validation-for="FkIcpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
