@model RegisterViewModel

@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Registro";
}

@*<script>
    function validateForm() {
        var x = document.forms["formregister"]["doc"].value;


        if (document.getElementById('tpd').value == "1" && x< 10000000 ) {
            alert("DNI invalido");
            return false;
        }

        if (document.getElementById('tpd').value == "1" && x > 99999999) {
            alert("DNI invalido");
            return false;
        }



        if (document.getElementById('tpd').value == "2" && x < 100000000 ) {
            alert("Carnet invalido");
            return false;
        }

        if (document.getElementById('tpd').value == "2" &&  x > 999999999) {
            alert("Carnet invalido");
            return false;
        }
        }
        </script >*@
@*<SCRIPT>
    function show(select_item) {
        if (select_item == "DNI") {

            var x = document.forms["formregister"]["dni"].value;
            if (x = 1000) {

                alert("Documento invalido")
                return false
            }*@

@*//dni.style.visibility = 'visible';
                //dni.style.display = 'block';
                //carnet.style.visibility = 'hidden';
                //carnet.style.display = 'none';

            //}

            //if (select_item == "Carnet de Extranjeria") {
            //    var x = document.forms["formregister"]["dni"].value;
            //    if (x = 1000) {

            //        alert("Documento invalido")
            //        return false
            //    }

                //carnet.style.visibility = 'visible';
                //carnet.style.display = 'block';
                //dni.style.visibility = 'hidden';
                //dni.style.display = 'none';
            }
            //else {
            //    dni.style.visibility = 'hidden';
            //    dni.style.display = 'none';
            //}
        }


        //function validateForm() {
        //    var x = document.forms["formregister"]["dni"].value;
        //    if (x>9999999 && x<100000000) {
        //        alert("Documento Invalido");
        //        return false;
        //    }
        //}

    </SCRIPT>*@
@*onsubmit="return validateForm()*@


<form id="formregister" asp-route-returnUrl="@ViewData["ReturnUrl"]"   method="post">
    <fieldset>
        <legend class="text-left"> Registro </legend>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Password">Contraseña</label>
                <input asp-for="Password" class="form-control" placeholder="Contraseña" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="ConfirmPassword">Confirmar contraseña</label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar contraseña" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Nombre"></label>
                <input asp-for="Nombre" class="form-control" placeholder="Nombres " />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="ApellidoPaterno"></label>
                <input asp-for="ApellidoPaterno" class="form-control" placeholder="Apellido Paterno" />
                <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ApellidoMaterno"></label>
                <input asp-for="ApellidoMaterno" class="form-control" placeholder="Apellido Materno" />
                <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="TipoDocumento"></label>
                <select asp-for="TipoDocumento" class="form-control" id="tpd">

                    <option value="1">DNI</option>
                    <option value="2">Carnet de Extranjería</option>


                </select>

            </div>

            @*onchange="java_script_:show(this.options[this.selectedIndex].value)"*@
            @*<script>
                    function myFunction() {
    
                ++var x = document.getElementById("tpd").value;

                        document.getElementById("dc").innerHTML = x;
                    }
                </script>*@
            @*class="form-control"*@

            <div class="form-group col-md-6">
                <label asp-for="Documento">Documento</label>
                <input asp-for="Documento"   class="form-control" placeholder="Documento" />
                <span asp-validation-for="Documento" class="text-danger"></span>
            </div>

            


        </div>


        <div class="form-group col-md-14">
            <label asp-for="Telefono"></label>
            <input asp-for="Telefono" class="form-control" placeholder="Teléfono" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>


        <div class="form-group col-md-14">
            <label asp-for="Direccion"></label>
            <input asp-for="Direccion" class="form-control" placeholder="Dirección" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>
    </fieldset>

    <br />



    <div id="divregistrar">  <button type="submit" id="bregistrar" class="btn btn-primary">Registrar</button> </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}