@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<div class="text-center">
    <hr class="team_hr team_hr_left hr_orange">
    <span class="span_blog txt_drakgrey">
        <h2> <b>NUESTROS SERVICIOS</b></h2>
    </span>
    <hr class="team_hr team_hr_left hr_orange">
</div>

<div class="row">
    <div class="col-md-4">
        <div class="templatemo-service-item">
            <div>
                <img class="img-thumbnail imagen" src="~/images/E1.jpg" />
            </div>
            <br />
            <div class="text-center">
                <span class="templatemo-service-item-header"><b>ASESORIA DE PREVENCION DE ACCIDENTES LABORALES</b></span>
            </div>
            <br />
            <p class="text-justify">
                Brindamos asesoria de prevencion ante accidentes o incidentes en el trabajo dentro de la empresa, elaboramos protocolos especificos para el cuidado de la salud dentro del centro de trabajo.
            </p>
            <br class="clearfix" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="templatemo-service-item">
            <div>
                <img class="img-thumbnail imagen" src="~/images/E2.jpg" />
            </div>
            <br />
            <div class="text-center">
                <span class="templatemo-service-item-header"><b>CONSULTORIA Y SEGUIMIENTO DE SEGURIDAD LABORAL</b></span>
            </div>
            <br />
            <p class="text-justify">
                Consultoria especializada en seguridad laboral y su seguimiento a largo plazo aplicando mecanismos correctivos en caso de encontrarse alguna deficiencia en al seguridad.
            </p>
            <br class="clearfix" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="templatemo-service-item">
            <div>
                <img class="img-thumbnail imagen" src="~/images/E3.jpg" />
            </div>
            <br />
            <div class="text-center">
                <span class="templatemo-service-item-header"><b>PLAN DE CONTIGENCIAS ANTE EMERGENCIAS</b></span>
            </div>
            <br />
            <p class="text-justify">
                Elaboracion de planes de contingencia y y capacitacion acon el fin de identificar los niveles de riesgos y los puntos vulnerables deacuerdo a la normatividad establecida.
            </p>
            <br class="clearfix" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 ">
        <div class="templatemo-service-item">
            <div>
                <img class="img-thumbnail imagen" src="~/images/E4.jpg" />
            </div>
            <br />
            <div class="text-center">
                <span class="templatemo-service-item-header"><b>CAPACITACION DE SEGURIDAD Y SALUD EN EL TRABAJO</b></span>
            </div>
            <br />
            <p class="text-justify">
                Conferencias y talleres dirigidos a los empleados sobre la seguridad en el trabajo, inducción a los nuevos empleados y reinducción para los antiguos trabajadores.
            </p>
            <br class="clearfix" />
        </div>

    </div>

    <div class="col-md-4">
        <div class="templatemo-service-item">
            <div>
                <img class="img-thumbnail imagen" src="~/images/E5.jpg" />
            </div>
            <br />
            <div class="text-center">
                <span class="templatemo-service-item-header"><b>ASESORIA DE SEGURIDAD FISICA EN INSTALACIONES</b></span>
            </div>
            <br />
            <p class="text-justify">
                Análisis sobre el nivel de seguridad fisica de la empresa y proyecciones sobre los posibles riesgos, accidentes o efectos adversos dentro de las instalaciones.
            </p>
            <br class="clearfix" />
        </div>
    </div>


    <div class="col-md-4 col-md-4 col-sm-6">
        <div class="templatemo-service-item">
            <div>
                <img class="img-thumbnail imagen" src="~/images/E6.jpg" />
            </div>
            <br />
            <div class="text-center">
                <span class="templatemo-service-item-header"><b>REFORZAMIENTO DE CONFIABILIDAD LABORAL</b></span>
            </div>
            <br />
            <p class="text-justify">
                Asesoria que procura garantizar el reforzamiento del nivel de confiabilidad de la empresa con respecto a la seguridad interna, asi como tambien aumentar el conocimiento para mejorar los posibles puntos debiles en las instalaciones.
            </p>
            <br class="clearfix" />
        </div>
    </div>
</div>

