@model SGIAMT.Models.EUsuario

@{
    ViewData["Title"] = "Create";
}

<head>
    <title>Inscripcion de Alumno</title>
    <link rel="stylesheet" href="~/css/RegistroStyle.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset=md-1">
                <div class="col-md-5 register-left">
                    <h3>REGISTRAR ALUMNO</h3>
                    <img src="~/images/usuario.svg" />
                    <p> ¡Completar la inscipción a la mejor academia de marinera!</p>
                </div>
                <div class="col-md-7 register-right">
                    <h2>REGISTRAR AQUÍ</h2>
                    <div class="register-form">
                        <div class="form-group">
                            <label asp-for="PkIuDni" class="control-label"></label>
                            <input asp-for="PkIuDni" class="form-control" />
                            <span asp-validation-for="PkIuDni" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VuNombre" class="control-label"></label>
                            <input asp-for="VuNombre" class="form-control" />
                            <span asp-validation-for="VuNombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VuApaterno" class="control-label"></label>
                            <input asp-for="VuApaterno" class="form-control" />
                            <span asp-validation-for="VuApaterno" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VuAmaterno" class="control-label"></label>
                            <input asp-for="VuAmaterno" class="form-control" />
                            <span asp-validation-for="VuAmaterno" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VuCelular" class="control-label"></label>
                            <input asp-for="VuCelular" class="form-control" />
                            <span asp-validation-for="VuCelular" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VuCorreo" class="control-label"></label>
                            <input asp-for="VuCorreo" class="form-control" />
                            <span asp-validation-for="VuCorreo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VuDireccion" class="control-label"></label>
                            <input asp-for="VuDireccion" class="form-control" />
                            <span asp-validation-for="VuDireccion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DuFechaNacimiento" class="control-label"></label>
                            <input asp-for="DuFechaNacimiento" class="form-control" />
                            <span asp-validation-for="DuFechaNacimiento" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VuSexo" class="control-label"></label>
                            <input asp-for="VuSexo" class="form-control" />
                            <span asp-validation-for="VuSexo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VuContraseña" class="control-label"></label>
                            <input asp-for="VuContraseña" class="form-control" />
                            <span asp-validation-for="VuContraseña" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VuEstado" class="control-label"></label>
                            <input asp-for="VuEstado" class="form-control" value="inactivo" />
                            <span asp-validation-for="VuEstado" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VuHorario" class="control-label"></label>
                            <input asp-for="VuHorario" class="form-control" />
                            <span asp-validation-for="VuHorario" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PkItuTipoUsuario" class="control-label"></label>
                            <select asp-for="PkItuTipoUsuario" class="form-control" asp-items="ViewBag.PkItuTipoUsuario"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="PkIcId" class="control-label"></label>
                            <select asp-for="PkIcId" class="form-control" asp-items="ViewBag.PkIcId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="PkIdiCod" class="control-label"></label>
                            <select asp-for="PkIdiCod" class="form-control" asp-items="ViewBag.PkIdiCod"></select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Registrar" class="btn btn-success" />
                            <a id="color" asp-controller="Home" asp-action="Index" class="btn btn-danger">atras</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
