@model SGIAMT.Models.EUsuario

@{
    ViewData["Title"] = "Create";
}

<h1>Registrar Alumno</h1>
<br />
<h4>Completar Inscripcion</h4>



<hr />
<script type="text/javascript">
    function isValidDate(day,month,year)
{
    var dteDate;
 
    // En javascript, el mes empieza en la posicion 0 y termina en la 11 
    //   siendo 0 el mes de enero
    // Por esta razon, tenemos que restar 1 al mes
    month=month-1;
    // Establecemos un objeto Data con los valore recibidos
    // Los parametros son: año, mes, dia, hora, minuto y segundos
    // getDate(); devuelve el dia como un entero entre 1 y 31
    // getDay(); devuelve un num del 0 al 6 indicando siel dia es lunes,
    //   martes, miercoles ...
    // getHours(); Devuelve la hora
    // getMinutes(); Devuelve los minutos
    // getMonth(); devuelve el mes como un numero de 0 a 11
    // getTime(); Devuelve el tiempo transcurrido en milisegundos desde el 1
    //   de enero de 1970 hasta el momento definido en el objeto date
    // setTime(); Establece una fecha pasandole en milisegundos el valor de esta.
    // getYear(); devuelve el año
    // getFullYear(); devuelve el año
    dteDate=new Date(year,month,day);
 
    //Devuelva true o false...
    return ((day==dteDate.getDate()) && (month==dteDate.getMonth()) && (year==dteDate.getFullYear()));
}
 
/**
 * Funcion para validar una fecha
 * Tiene que recibir:
 *  La fecha en formato ingles yyyy-mm-dd
 * Devuelve:
 *  true-Fecha correcta
 *  false-Fecha Incorrecta
 */
function validate_fecha(fecha)
{
    var patron=new RegExp("^(19|20)+([0-9]{2})([-])([0-9]{1,2})([-])([0-9]{1,2})$");
 
    if(fecha.search(patron)==0)
    {
        var values=fecha.split("-");
        if(isValidDate(values[2],values[1],values[0]))
        {
            return true;
        }
    }
    return false;
}
function calcularEdad()
{
    var fecha=document.getElementById("DuFechaNacimiento").value;
    if(validate_fecha(fecha)==true)
    {
        // Si la fecha es correcta, calculamos la edad
        var values=fecha.split("-");
        var dia = values[2];
        var mes = values[1];
        var ano = values[0];
 
        // cogemos los valores actuales
        var fecha_hoy = new Date();
        var ahora_ano = fecha_hoy.getYear();
        var ahora_mes = fecha_hoy.getMonth()+1;
        var ahora_dia = fecha_hoy.getDate();
 
        // realizamos el calculo
        var edad = (ahora_ano + 1900) - ano;
        if ( ahora_mes < mes )
        {
            edad--;
        }
        if ((mes == ahora_mes) && (ahora_dia < dia))
        {
            edad--;
        }
        if (edad > 1900)
        {
            edad -= 1900;
        }
 
        // calculamos los meses
        var meses=0;
        if(ahora_mes>mes)
            meses=ahora_mes-mes;
        if(ahora_mes<mes)
            meses=12-(mes-ahora_mes);
        if(ahora_mes==mes && dia>ahora_dia)
            meses=11;
 
        // calculamos los dias
        var dias=0;
        if(ahora_dia>dia)
            dias=ahora_dia-dia;
        if(ahora_dia<dia)
        {
            ultimoDiaMes=new Date(ahora_ano, ahora_mes, 0);
            dias=ultimoDiaMes.getDate()-(dia-ahora_dia);
        }
 
        document.getElementById("result").innerHTML="Tienes "+edad+" años ";/*+meses+" meses y "+dias+" días"*/
    }else{
        document.getElementById("result").innerHTML="La fecha "+fecha+" es incorrecta";
    }
    }

    
</script>

<div class="container">
    <div class="row ">
        <div class="col-4" style="width : 30% ; float :left">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PkIuDni" class="control-label"></label>
                    <input asp-for="PkIuDni" class="form-control" />
                    <span asp-validation-for="PkIuDni" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VuNombre" class="control-label"></label>
                    <input asp-for="VuNombre" class="form-control" />
                    <span asp-validation-for="VuNombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VuApaterno" class="control-label"></label>
                    <input asp-for="VuApaterno" class="form-control" />
                    <span asp-validation-for="VuApaterno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VuAmaterno" class="control-label"></label>
                    <input asp-for="VuAmaterno" class="form-control" />
                    <span asp-validation-for="VuAmaterno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VuCelular" class="control-label"></label>
                    <input asp-for="VuCelular" class="form-control" />
                    <span asp-validation-for="VuCelular" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VuCorreo" class="control-label"></label>
                    <input asp-for="VuCorreo" class="form-control" />
                    <span asp-validation-for="VuCorreo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VuDireccion" class="control-label"></label>
                    <input asp-for="VuDireccion" class="form-control" />
                    <span asp-validation-for="VuDireccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DuFechaNacimiento" class="control-label"></label>
                    <input asp-for="DuFechaNacimiento" class="form-control" name="DuFechaNacimiento" id="DuFechaNacimiento" onchange="javascript:calcularEdad()" />
                    <span asp-validation-for="DuFechaNacimiento" class="text-danger"></span>

                    <span class="label">
                        <span style="color:blue ; font-size:small " id="result" value="result"></span>
                    </span>

                </div>
                <div class="form-group">
                    <label asp-for="VuSexo" class="control-label"></label>
                    <select class="form-control" id="VuSexo" name="VuSexo">
                        <option>seleccionar sexo</option>
                        <option>masculino </option>
                        <option>femenino</option>
                    </select>
                    <span asp-validation-for="VuSexo" class="text-danger"></span>
                </div>






                <div class="form-group">
                    <label asp-for="VuContraseña" class="control-label"></label>
                    <input asp-for="VuContraseña" class="form-control" />
                    <span asp-validation-for="VuContraseña" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VuEstado" class="control-label"></label>
                    <input asp-for="VuEstado" class="form-control" value="inactivo" readonly="readonly" />
                    <span asp-validation-for="VuEstado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VuHorario" class="control-label"></label>
                    <input asp-for="VuHorario" class="form-control" />
                    <span asp-validation-for="VuHorario" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <label asp-for="FkItuTipoUsuario" class="control-label"></label>
                    <select asp-for="FkItuTipoUsuario" class="form-control" asp-items="ViewBag.PkItuTipoUsuario">
                        <option>seleccionar Tipo de usuario</option>
                    </select>
                </div>
               
                    <div class="form-group">

                        <label asp-for="FkIcId" class="control-label"></label>
                        <select id="miSelect"  asp-for="FkIcId" class="form-control" asp-items="ViewBag.PkIcId"></select>

                    </div>
                

                <div class="form-group">

                    <label asp-for="FkIdiCod" class="control-label"></label>
                    <select asp-for="FkIdiCod" class="form-control" asp-items="ViewBag.PkIdiCod">
                 <option>seleccionar distrito</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Registrar" class="btn btn-success" />
                    <a id="color" asp-controller="Home" asp-action="Index" class="btn btn-danger">atras</a>
                </div>


            </form>
        </div>
        <div class="col-4" style="width : 70%  ;   float :left">
            <center>  <img style="width:70% ; height:70% ; padding-top:15% " src="~/images/usuario.jpg" alt="Visual Studio" class="img-responsive" /></center>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
