<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SGIAMT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/LOGO_opt.png" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-main">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="active" asp-controller="EUsuarios" asp-action="Create">Registrar Alumno</a></li>
                    <li><a  asp-controller="#" asp-action="#">Registrar Pago</a></li>
                    <li><a  asp-controller="#" asp-action="#">Gestionar Progreso</a></li>
                    <li><a  asp-controller="#" asp-action="#">Administrar Asistencia</a></li>
                </ul>
            </div>
        </div>
    </nav>

    




    @*
        <nav class=" navbar navbar-expand-lg  navbar-fixed-top">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/image008.png" /></a>
            <a class="navbar-brand1" asp-area="" asp-controller="Home" asp-action="Index"><h2>TUSUY PERU</h2></a>
            <div class="container">


                <a asp-area="" asp-controller="Home" asp-action="Index" class="title"><h1>SGIAMT</h1></a>
                <a id="inicio" asp-area="" asp-controller="EUsuarios" asp-action="Create" class="navbar-header">Registrar Alumno</a>

            </div>
        </nav>
    *@

    @*

        ----------------Segunda navbar -----------
        <nav class=" navbar navbar-inverse  navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" style="width:100%">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SGIAMT</a>
                    <a id="inicio" asp-area="" asp-controller="EUsuarios" asp-action="Create" class="navbar-brand">Registrar Alumno</a>

                </div>
            </div>
        </nav>
    *@









    @*<div class="navbar-collapse collapse">
            <ul class="nav navbar-right">
                <a  asp-area="" asp-controller="EUsuarios" asp-action="Create" class="barracolor">Registrar Alumno</a>
            </ul>
        </div>*@

    @* para iniciar secion *@
    @*<ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>*@
    @* finalizar iniciar sesion *@


    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
