@model SWACTPROY.Models.T_Versionamiento

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>T_Versionamiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idVersion" />
            <div class="form-group">
                <label asp-for="nombrepdf" class="control-label"></label>
                <input asp-for="nombrepdf" class="form-control" />
                <span asp-validation-for="nombrepdf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaCreacion" class="control-label"></label>
                <input asp-for="fechaCreacion" class="form-control" />
                <span asp-validation-for="fechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaRespuesta" class="control-label"></label>
                <input asp-for="fechaRespuesta" class="form-control" />
                <span asp-validation-for="fechaRespuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="detalleRespuesta" class="control-label"></label>
                <input asp-for="detalleRespuesta" class="form-control" />
                <span asp-validation-for="detalleRespuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <input asp-for="estado" class="form-control" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idCotizacion" class="control-label"></label>
                <select asp-for="idCotizacion" class="form-control" asp-items="ViewBag.idCotizacion"></select>
                <span asp-validation-for="idCotizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
