@{
    ViewData["Title"] = "Accesso Denegado";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Usted no tiene acceso para entrar a este Servicio. Registre su Empresa para poder realizar Contacto y espere el permiso del Administrador</p>
</header>
