@model SWACTPROY.Models.T_Solicitud

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Solicitud</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="detalle" class="control-label"></label>
                <textarea rows="4" cols="50" asp-for="detalle" class="form-control"> </textarea>
                <span asp-validation-for="detalle" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none">
                <label asp-for="ordentrabajo" class="control-label"></label>
                <input asp-for="ordentrabajo" class="form-control" value="No" />
                <span asp-validation-for="ordentrabajo" class="text-danger"></span>

            </div>
            <div class="form-group" style="display:none">
                <label asp-for="estado" class="control-label"></label>
                <input asp-for="estado" class="form-control" value="Pendiente" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idCliente" class="control-label">Razon Social</label>
                <select asp-for="idCliente" class="form-control" asp-items="ViewBag.idCliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="idServicio" class="control-label">Servicio</label>
                <select asp-for="idServicio" class="form-control" asp-items="ViewBag.idServicio"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
