<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AJA</title>

    <environment include="Development">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

        <link rel="stylesheet" href="~/css/site.css" />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
   
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    </head>



<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img style="width:200px; height:50px;" src="~/images/logo7.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item "><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/baseline_home_black_18dp.png" /> Inicio </a></li>

                <li class="nav-item "><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About"><img src="~/images/baseline_search_black_18dp.png" /> Acerca de AJA </a></li>
                <li class="nav-item "><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact"><img src="~/images/icons8-survey-24.png" /> Nuestros Servicios </a></li>
                @if (User.IsInRole("UsuarioActivo") || User.IsInRole("UsuarioPendiente"))
    {

            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="T_Solicitud" asp-action="Create">  @*<img src="~/images/speech-bubble (1).png" />*@  Contacto</a></li>

            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="T_Cliente" asp-action="Create">  Registrar Empresa</a></li>


}
                @if (User.IsInRole("Asesor-Consultor"))
    {

       

            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="T_Entregables" asp-action="Index2"> Ver Entregables</a></li>


}
                @if (User.IsInRole("Administrador"))
    {


            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administrar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-area="" asp-controller="Usuarios" asp-action="Index">Administrar Perfiles</a>
                    <a class="dropdown-item" asp-area="" asp-controller="T_Solicitud" asp-action="Index">Administrar Solicitudes</a>
                    <a class="dropdown-item" asp-area="" asp-controller="T_Cliente" asp-action="Index">Administrar Clientes</a>

                    <a class="dropdown-item" asp-area="" asp-controller="T_OrdenTrabajo" asp-action="Index">Administrar Trabajos</a>
                    <a class="dropdown-item" asp-area="" asp-controller="T_Versionamiento" asp-action="Index">Historial Cotizaciones</a>
                    <a class="dropdown-item" asp-area="" asp-controller="T_Cotizacion" asp-action="Index">Generar Factura</a>
                    @*<a class="dropdown-item" asp-area="" asp-controller="T_Entregables" asp-action="Index">Entregables</a>*@
                </div>
            </li>

            <li class="nav-item "><a class="nav-link" asp-area="" asp-controller="T_Servicio" asp-action="Index">  Tipos de Servicio </a></li>
}

            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - AJA</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/Solicitud.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>



    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>


    @RenderSection("Scripts", required: false)
</body>
</html>
