body {
    font-family: "Helvetica Neue", Helvetica, 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #1B03F4;
}
.navbar-inverse {
    background: #FD0303;
    border-color: #080808;

}
.navbar-inverse .navbar-brand {
        float: left;
        height: 50px;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        color: white;
    }

#inicio {
float :right;
}

#color {
color: white ;  
}
