USE [master]
GO
/****** Object:  Database [BD_SGIAMT]    Script Date: 16/09/2019 17:55:52 ******/
CREATE DATABASE [BD_SGIAMT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_SGIAMT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.ALONSO\MSSQL\DATA\BD_SGIAMT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BD_SGIAMT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.ALONSO\MSSQL\DATA\BD_SGIAMT_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_SGIAMT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_SGIAMT]
GO
USE [BD_SGIAMT]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16/09/2019 17:55:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[E_Categoría]    Script Date: 16/09/2019 17:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[E_Categoría](
	[PK_IC_Id] [int] NOT NULL,
	[VC_NombreCat] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_E_Categoría2] PRIMARY KEY CLUSTERED 
(
	[PK_IC_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[E_Departamento]    Script Date: 16/09/2019 17:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[E_Departamento](
	[PK_ID_Cod] [int] NOT NULL,
	[VD_NombreDepa] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_E_Departamento4] PRIMARY KEY CLUSTERED 
(
	[PK_ID_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[E_Distrito]    Script Date: 16/09/2019 17:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[E_Distrito](
	[PK_IDI_Cod] [int] NOT NULL,
	[VDI_NombreDis] [varchar](50) NOT NULL,
	[PK_IP_Cod] [int] NULL,
 CONSTRAINT [PK_T_E_Distrito5] PRIMARY KEY CLUSTERED 
(
	[PK_IDI_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[E_Nivel]    Script Date: 16/09/2019 17:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[E_Nivel](
	[PK_IN_Cod] [int] NOT NULL,
	[VN_NombreNivel] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_E_Nivel7] PRIMARY KEY CLUSTERED 
(
	[PK_IN_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[E_NivelxTipoNivel]    Script Date: 16/09/2019 17:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[E_NivelxTipoNivel](
	[Nro_Alumno] [int] NOT NULL,
	[PK_ITN_Cod] [int] NOT NULL,
	[PK_IN_Cod] [int] NOT NULL,
 CONSTRAINT [PK_E_NivelxTipoNivel] PRIMARY KEY CLUSTERED 
(
	[Nro_Alumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[E_Provincia]    Script Date: 16/09/2019 17:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[E_Provincia](
	[PK_IP_Cod] [int] NOT NULL,
	[VP_NombreProvincia] [varchar](50) NOT NULL,
	[PK_ID_Cod] [int] NULL,
 CONSTRAINT [PK_T_E_Provincia6] PRIMARY KEY CLUSTERED 
(
	[PK_IP_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[E_TipoNivel]    Script Date: 16/09/2019 17:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[E_TipoNivel](
	[PK_ITN_Cod] [int] NOT NULL,
	[ITN_NombreTipoNivel] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_E_TipoNivel8] PRIMARY KEY CLUSTERED 
(
	[PK_ITN_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[E_TipoUsuario]    Script Date: 16/09/2019 17:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[E_TipoUsuario](
	[PK_ITU_TipoUsuario] [int] NOT NULL,
	[VTU_NombreTipoUsuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_E_TipoUsuario0] PRIMARY KEY CLUSTERED 
(
	[PK_ITU_TipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[E_Usuario]    Script Date: 16/09/2019 17:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[E_Usuario](
	[PK_IU_Dni] [int] NOT NULL,
	[VU_Nombre] [varchar](50) NOT NULL,
	[VU_APaterno] [varchar](50) NOT NULL,
	[VU_AMaterno] [varchar](50) NOT NULL,
	[VU_Celular] [int] NOT NULL,
	[VU_Correo] [varchar](50) NOT NULL,
	[VU_Direccion] [varchar](50) NOT NULL,
	[DU_FechaNacimiento] [date] NOT NULL,
	[VU_Sexo] [varchar](50) NOT NULL,
	[VU_Contraseña] [varchar](50) NOT NULL,
	[VU_Estado] [varchar](50) NOT NULL,
	[VU_Horario] [varchar](50) NOT NULL,
	[PK_ITU_TipoUsuario] [int] NOT NULL,
	[PK_IC_Id] [int] NOT NULL,
	[PK_ID_Cod] [int] NOT NULL,
	[PK_IN_Cod] [int] NOT NULL,
 CONSTRAINT [PK_T_E_Usuario3] PRIMARY KEY CLUSTERED 
(
	[PK_IU_Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[E_Distrito]  WITH CHECK ADD  CONSTRAINT [FK_E_Distrito_E_Provincia] FOREIGN KEY([PK_IP_Cod])
REFERENCES [dbo].[E_Provincia] ([PK_IP_Cod])
GO
ALTER TABLE [dbo].[E_Distrito] CHECK CONSTRAINT [FK_E_Distrito_E_Provincia]
GO
ALTER TABLE [dbo].[E_NivelxTipoNivel]  WITH CHECK ADD  CONSTRAINT [FK_T_E_NivelxTipoNivel7] FOREIGN KEY([PK_ITN_Cod])
REFERENCES [dbo].[E_TipoNivel] ([PK_ITN_Cod])
GO
ALTER TABLE [dbo].[E_NivelxTipoNivel] CHECK CONSTRAINT [FK_T_E_NivelxTipoNivel7]
GO
ALTER TABLE [dbo].[E_NivelxTipoNivel]  WITH CHECK ADD  CONSTRAINT [FK_T_E_NivelxTipoNivel8] FOREIGN KEY([PK_IN_Cod])
REFERENCES [dbo].[E_Nivel] ([PK_IN_Cod])
GO
ALTER TABLE [dbo].[E_NivelxTipoNivel] CHECK CONSTRAINT [FK_T_E_NivelxTipoNivel8]
GO
ALTER TABLE [dbo].[E_Provincia]  WITH CHECK ADD  CONSTRAINT [FK_E_Provincia_E_Departamento] FOREIGN KEY([PK_ID_Cod])
REFERENCES [dbo].[E_Departamento] ([PK_ID_Cod])
GO
ALTER TABLE [dbo].[E_Provincia] CHECK CONSTRAINT [FK_E_Provincia_E_Departamento]
GO
ALTER TABLE [dbo].[E_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_T_E_Usuario0] FOREIGN KEY([PK_ITU_TipoUsuario])
REFERENCES [dbo].[E_TipoUsuario] ([PK_ITU_TipoUsuario])
GO
ALTER TABLE [dbo].[E_Usuario] CHECK CONSTRAINT [FK_T_E_Usuario0]
GO
ALTER TABLE [dbo].[E_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_T_E_Usuario2] FOREIGN KEY([PK_IC_Id])
REFERENCES [dbo].[E_Categoría] ([PK_IC_Id])
GO
ALTER TABLE [dbo].[E_Usuario] CHECK CONSTRAINT [FK_T_E_Usuario2]
GO
ALTER TABLE [dbo].[E_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_T_E_Usuario3] FOREIGN KEY([PK_ID_Cod])
REFERENCES [dbo].[E_Departamento] ([PK_ID_Cod])
GO
ALTER TABLE [dbo].[E_Usuario] CHECK CONSTRAINT [FK_T_E_Usuario3]
GO
ALTER TABLE [dbo].[E_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_T_E_Usuario6] FOREIGN KEY([PK_IN_Cod])
REFERENCES [dbo].[E_Nivel] ([PK_IN_Cod])
GO
ALTER TABLE [dbo].[E_Usuario] CHECK CONSTRAINT [FK_T_E_Usuario6]
GO
USE [master]
GO
